[Unit]
Description=A matrix bot that does amazing things!

[Service]
Type=simple
User=matrix-voice-messenger
Group=matrix-voice-messenger
WorkingDirectory=/path/to/matrix-voice-messenger/docker
ExecStart=/usr/bin/docker-compose up matrix-voice-messenger
ExecStop=/usr/bin/docker-compose stop matrix-voice-messenger
RemainAfterExit=yes
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target